<div>
  <% @courses.each do |course| %>
    <div class="course">
      <div>
        <p><span class="bold"><%= course.name %></span></p>
        <p><%= course.short_description %></p>
        <p><%= course.categories.map(&:value).to_sentence %></p>
      </div>
      <div>
        
        <%= link_to 'eliminar', course, method: 'DELETE', title: t('views.courses._admin_list.destroy.link'), confirm: t('views.courses._admin_list.destroy.confirm') %>
        <%= link_to 'editar', edit_course_path(course),        title: t('views.courses._admin_list.edit'), rel:'modal:open' %>
        <%= link_to 'Clases', new_course_lecture_path(course), title: t('views.courses._admin_list.edit'), rel:'modal:open' %>
        <%= link_to 'Alumnos', course_students_path(course), rel:'modal:open' %>


          <%= form_tag resolve_course_path(course) do %>
             <p>Resuelve la siguiente demanda: <%= collection_select(:course_demand, :course_demand_id, CourseDemand.all, :id, :name, prompt: true, include_blank: false) %> <%= submit_tag %></p>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to t('views.courses._admin_list.new'), new_course_path, rel: 'modal:open' %>

