 <div>
  <% @courses.each do |course| %>
    <div class="course">
      <div class="course-data">
        <span class="bold"><%= course.name %></span> por
        <%= course.teacher.name %>
      </div>
      <div class="course-data">
        <%= l course.date, format: :long if course.date.present? %>
      </div>
      <div class="course-price">
        <%= (course.price / 100.0).round(2).to_s + ' €' if course.price %>
      </div>
      <div class="course-data">
        <%= image_tag course.cover.url, height:'250' %>
      </div>
      <div class="course-data">
        <div>
          <p><%= course.short_description %></p>
          <%= link_to 'Detalles', course %> 
          <%= (link_to 'Matricularse', course_students_path(course), method: :post) if can?(:enroll, Course) %>
        </div>
      </div>
    </div>
  <% end %>
</div>