<% content_for :title do %>
  <%= @course.id ? t('views.courses.edit.form.title.edit') : t('views.courses.edit.form.title.new') %>
<% end %>

<%= simple_form_for @course, html: { class: ""} do |f| %>
  <div>
    <%= f.input :course_demand_id, as: :hidden %>
  </div>
  <div>
    <%= f.input :name %>
  </div>
  <div> 
    <%= f.input :date %>
  </div>
  <div> 
    <%= f.input :hidden %>
  </div>
  <div> 
    <%= f.input :price %>
  </div>
  <div> 
    <%= f.input :short_description %>
  </div>
  <div>
    <%= f.input :description, :input_html => { :rows => 8 } %>
  </div>
  <div>
    <%= f.input :cover %>  
  </div>
  <div>
    <%= f.input :categories, :as => :check_boxes %>  
  </div>
  <div>
    <%= f.button :submit %>
  </div>
<% end %>
