
<h1> Detalles del curso </h1>
  <div class="basic_data">
    <p>Nombre: <%= @course.name %></p>
    <p>Descripción: <%= @course.description %></p>
    <p>Precio: <%= @course.price.to_i / 100.0 %></p>
    <p>Minutos: <%= @course.minutes %></p>
    <p>Alumnos matriculados: <%= @course.students.valid.count %></p>
    <p><%= image_tag @course.cover, class:'avatar' %></p>
  </div>
  


  <div class="course-data">
     <div>
      <% student = current_user ? @course.student_by(current_user) : nil  %>
      <% if student %>
         <%= student.current_state %>
         <% unless student.enrolled? || @course.free? %>
           <%= link_to 'Pagar la matrícula', course_payments_path(@course) %>
         <% end %>
      <% else %>
        <%= (link_to 'Matricularse', course_students_path(@course), method: :post) if can?(:enroll, @course)  %>
      <% end %>
    </div>
  </div>


  <ul>
    <% @course.lectures.each do |lecture| %>
      <li>
        Clase: <%= lecture.title %><br/>
        Hora: <%= l lecture.start_at, format: :long if lecture.start_at %>
      <%= link_to '#_go_to_lecture', course_lecture_path(@course, lecture) %>
    </li>
    <% end %>
  </ul>

<% if @course.reported %>
  Reportado como inadecuado
<% else %>
  <%= link_to 'Reportar cursos inadecuado', report_course_path(@course), method: :post %>
<% end %>