<h5>
  <span><%= CourseDemand.model_name.human %></span>
</h5>

 <div>
  <% @course_demands.each do |course_demand| %>
    <div>
      <div>
        <%= link_to course_demand.name, course_demand %>
        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, course_demand, method: 'DELETE', title: t('views.courses._admin_list.destroy.link'), confirm: t('views.courses._admin_list.destroy.confirm') %>
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_course_demand_path(course_demand), title: t('views.courses._admin_list.edit'), rel:'modal:open' %>
      </div>
      <div>
        <div>
          <p><%= course_demand.description %></p>
          <p><%= course_demand.categories.map(&:value).to_sentence %></p>
          <% course_demand.courses.each do |course| %>
             <%= link_to course.name, course %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to t('views.courses._admin_list.new'), new_course_demand_path, rel: 'modal:open' %>

