 <div>
  <% @course_demands.each do |course_demand| %>
    <div class="course">
      <div>
        <p><%= course_demand.name %></p>
          <% course_demand.courses.each do |course| %>
           <p><% link_to course.name, course %></p>
          <% end %>
      </div>
      <div>
        <p><%= l course_demand.created_at, format: :long if course_demand.created_at.present? %></p>
      </div>
      <div>
        <div>
          <p><%= course_demand.description %></p>
        </div>
        <div>
        <% if course_demand.courses.count > 0 %>
          Problemática resuelta por los siguientes cursos:
        <% end %>
        <% course_demand.courses.each do |course| %>
             <p><%= link_to course.name, course %></p>
          <% end %>
          <p><%= link_to 'Resolver demanda', new_course_path(course_demand_id: course_demand.id), rel:'modal:open' if current_user %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>