<% content_for :title do %>
  <%= @course_demand.id ? t('views.courses.edit.form.title.edit') : t('views.courses.edit.form.title.new') %>
<% end %>

<%= simple_form_for @course_demand, html: { class: ""} do |f| %>
  <div>
    <%= f.input :name %>
  </div>
  <div>
    <%= f.input :description, :input_html => { :rows => 8 } %>
  </div>
  <div>
    <%= f.input :categories, :as => :check_boxes %>  
  </div>
  <div>
    <%= f.button :submit %>
  </div>
<% end %>
