
<div class="basic_data">
  <p>#_course_name: <%= @course_demand.name %></p>
  <p>#_coruse_description: <%= @course_demand.description %></p>
</div>

<ul>
  <% @course_demand.courses.each do |course| %>
  <% if course.pricce == 0  || enroll_since.nil? enroll_since< Time.now %>
       <p> #_join_to: <%= link_to '#_join_it', course_students_path(course), method: :post   %></p>
     <% end %>
    <li><%= link_to course.name, course %></li>
  <% end %>
</ul>
