<h1> Debe ingresar <%= @course.price.to_i / 100.0 %> € en la siguiente cuenta </h1>


<p>Titular: <%= @course.teacher.name %></p>
<p>Nº Cuenta; 2140623456</p>
<p>Concepto: <%= current_user.email %> </p>


cuando lo haya echo puede entregar aqui el justifcante para acelerar las cosas


<%= form_tag validate_course_payments_path(@course) do %>

  <%= file_field_tag :deposit %>
  <%= submit_tag %>

<% end %>