<h1> Sistema Integral de Formación Online de Corta Duración </h1>
<p> Plataforma cuyo objetivo principal es poner en contacto a expertos en materias de diversa índole con personas interesadas que sirva como base de un espacio dinámico común donde compartir y solicitar actividades formativas</p>

<div id="functionalities" class="row list">
	<ul>
		<li>
			<span class="bold">Alta y gestión de usuarios</span>
			<ul>
				<li>Roles maestro, alumno y moderador. Se pueden dar a la vez</li>
			</ul>
		</li>
	</ul>
	<ul>
		<li>
			<span class="bold">Creación de cursos</span>
			<ul>
				<li>Creación de cursos</li>
				<li>Creación de clases (Máx 5 min de duración y tema completo)</li>
				<li>Asignación de recursos y material didáctico</li>
				<li>Gestión completa de fechas y clases</li>
			</ul>
		</li>
	</ul>
	<ul>
		<li>
			<span class="bold">Matriculación en cursos</span>
			<ul>
				<li>Pago de tasas por curso completo a través de transferencia bancaria</li>
				<li>Periodos de matriculación establecidos por el profesor</li>
			</ul>
		</li>
	</ul> 
	<ul>
		<li>
			<span class="bold">Demanda de cursos</span>
			<ul>
				<li>Publicación en la plataforma por temas en los que está interesado en recibir formación</li>
				<li>Creación de cursos en base a estas demandas</li>
				<li>Asignación de otros cursos que cumplen con la temática demandada</li>
			</ul>
		</li>
	</ul>
	<ul>
		<li>
			<span class="bold">Recomendación de cursos</span>
			<ul>
				<li>Posibilidad de enviarse entre usuarios de la plataforma ciertos cursos que pueden ser de su interés</li>
				<li>Planteada la posibilidad de recomendaciones automáticas en base a un algoritmo de recomendación</li>
			</ul>
		</li>
	</ul>
	<ul>
		<li>
			<span class="bold">Reporte de cursos maliciosos</span>
			<ul>
				<li>Notificación por parte de usuarios de cursos considerados de mal gusto o que no cumpla los requisitos de la plataforma</li>
			</ul>
		</li>
	</ul>
</div>

<div class="row list">
	<ul>
		<li>
			<span class="bold">Características técnicas</span>
			<ul>
				<li>Plataforma ruby on rails</li>
				<li>Base de datos Postgresql</li>
				<li>Api RESTFUL</li>
			</ul>
		</li>
	</ul>
</div>



