<h1> Mis recomendaciones recibidas</h1>

<% @received.each do |recomendation| %>
  <%= recomendation.message %>

  <% recomendation.courses.each do |course| %>
     <%= link_to course.name, course %>
  <% end %>
<% end %>

<h1>Mis recomendaciones enviadas </h1>



<% @sent.each do |recomendation| %>
  <%= recomendation.message %>

  <% recomendation.courses.each do |course| %>
     <%= link_to course.name, course %>
  <% end %>
<% end %>
