

<ul>


<% @students.each do |student| %>
<li>
 <%= student.user.name %>
 <%= student.current_state %>
 <%= link_to 'Validar matrícula', validate_course_student_path(@course, student), method: :post if student.current_state < :enrolled %>
 </li>
<% end %>

</ul>