<% content_for :title do %>
  
  Crear clase
<% end %>

<%= simple_form_for [@course, @lecture], html: { class: ""} do |f| %>
  <div>
    <%= f.input :title %>
  </div>
  <div>
    <%= f.input :start_at %>
  </div>

  <div>
    <%= f.input :duration %>
  </div>

  <div>
    <%= f.button :submit %>
  </div>
<% end %>
