
#_lecture_title <%= @lecture.title %>


<div class="row">
<div id="streaming">
  <iframe width="100%" height="350px" src="//www.youtube.com/embed/mcixldqDIEQ" frameborder="0" allowfullscreen></iframe>
</div>

<div id="slides">

</div>
</div>
