@import 'vendor/jquery-ui-1.9.2.custom.css';
//  
//  Button Styles
//  -------------------- 
//
@mixin button-style-border($color:$text-color) {
	@include button-text-style;
  color: $color;
	display: inline-block;
	padding: $quarter-margin-size $half-margin-size;
	border: 1px solid;
	text-align: center;
}
@mixin button-style-fill {
  @include button-text-style;
  background-color: rgba(0,0,0,0.25);
  color: $countertype-text-color;
  padding: $quarter-margin-size $half-margin-size;
  &:hover {
    background-color: $bg-lighter-color;
    color: $text-color;
  }
}
//  
//  Forms
//  -------------------- 
//
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input.password,
textarea {
   border: 1px solid $border-color;
   padding: $quarter-margin-size $half-margin-size;
   width: 200px;
   margin-bottom: $margin-size;
}
textarea {
  width: 100%;
}
input[type=submit] {
  @include button-style-border;
}
label {
  margin-right: $half-margin-size;
}