//	
//	STRUCTURES 
//	#################################################################################################### 
//

//	
//	BOXES
//	-------------------- 
//
.row {
	@include relative-left;
	width: 100%;
	padding-top: $double-margin-size;
	padding-bottom: $double-margin-size;
	border-bottom: 1px solid $border-color;
}
.bounded-content {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	//width defined in mediaqueries
}
.full-content {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.field-box {
	@include relative-left;
	@include clear;
	width: 100%;
	margin-bottom: $margin-size;
}
//Columns
.no-gutter {
	padding-left: 0;
	padding-right: 0;
}
.remove-padding {
	padding: 0;
}
//Mediaqueries
@media only screen and (min-width: $desktop-breakpoint) {
	* {
		@include mediaqueries-animation(width, height, 1s);
	}
	.bounded-content {
		width: $desktop-container;
	}
	.full-content {
		padding-left: $row-section-margin;
		padding-right: $row-section-margin;
	}
	@for $i from 1 through $total-columns {
	  .d-col-#{$i} {
	  	float: left;
	    width: ($page-width / $total-columns) * $i;
	  }
	}
	.d-col-1-4 {
		@extend .d-col-3;
		width: $page-width / 4;
	}
	.d-col-1-2 {
		@extend .d-col-6;
		width: $page-width / 2;
	}
	.d-col-1-3 {
		@extend .d-col-4;
		width: $page-width / 3;
	}
	.d-col-3-4 {
		@extend .d-col-9;
		width: $page-width - ($page-width / 4);
	}
	.d-col-full {
		@extend .d-col-12;
		width: $page-width;	
	}
	//Push & Pull
	@for $i from 1 through $total-columns {
	  .d-push-#{$i} {
	    left: ($page-width / $total-columns) * $i;
	  }
	}
	@for $i from 1 through $total-columns {
	  .d-pull-#{$i} {
	    left: (-$page-width / $total-columns) * $i;
	  }
	}
	.d-no-push, 
	.d-no-pull { 
		left: auto; 
	}
	.d-gutters {
	  padding-left: $margin-size;
	  padding-right: $margin-size;
	}
	.d-gutter-left {
	  padding-left: $margin-size;
	}
	.d-gutter-right {
	  padding-right: $margin-size;
	}
	.d-half-gutters {
		padding-left: $half-margin-size;
	  padding-right: $half-margin-size;
	}
	.d-half-gutter-left {
		padding-left: $half-margin-size;
	}
	.d-half-gutter-right {
	  padding-right: $half-margin-size;
	}
}
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
	* {
		@include mediaqueries-animation(width, height, 1s);
	}
	.bounded-content {
		width: 100%;
	}
	@for $i from 1 through $total-columns {
	  .t-col-#{$i} {
	  	float: left;
	    width: ($page-width / $total-columns) * $i;
	  }
	}
	.t-col-1-4 {
		@extend .t-col-3;
		width: $page-width / 4;
	}
	.t-col-1-2 {
		@extend .t-col-6;
		width: $page-width / 2;
	}
	.t-col-1-3 {
		@extend .t-col-4;
		width: $page-width / 3;
	}
	.t-col-3-4 {
		@extend .t-col-9;
		width: $page-width - ($page-width / 4);
	}
	.t-col-full {
		@extend .t-col-12;
		width: $page-width;	
	}
	//Push & Pull
	@for $i from 1 through $total-columns {
	  .t-push-#{$i} {
	    left: ($page-width / $total-columns) * $i;
	  }
	}
	@for $i from 1 through $total-columns {
	  .t-pull-#{$i} {
	    left: (-$page-width / $total-columns) * $i;
	  }
	}
	.t-no-push, 
	.t-no-pull { 
		left: auto; 
	}
	.t-gutters {
	  padding-left: $margin-size;
	  padding-right: $margin-size;
	}
	.t-gutter-left {
	  padding-left: $margin-size;
	}
	.t-gutter-right {
	  padding-right: $margin-size;
	}
	.t-half-gutters {
		padding-left: $half-margin-size;
	  padding-right: $half-margin-size;
	}
	.t-half-gutter-left {
		padding-left: $half-margin-size;
	}
	.t-half-gutter-right {
	  padding-right: $half-margin-size;
	}
}
@media only screen and (max-width: $mobile-breakpoint) {
	* {
		@include mediaqueries-animation(width, height, 1s);
	}
	.bounded-content {
		width: 100%;
	}
	@for $i from 1 through $total-columns {
	  .m-col-#{$i} {
	  	float: left;
	    width: ($page-width / $total-columns) * $i;
	  }
	}
	.m-col-1-4 {
		@extend .m-col-3;
		width: $page-width / 4;
	}
	.m-col-1-2 {
		@extend .m-col-6;
		width: $page-width / 2;
	}
	.m-col-1-3 {
		@extend .m-col-4;
		width: $page-width / 3;
	}
	.m-col-3-4 {
		@extend .m-col-9;
		width: $page-width - ($page-width / 4);
	}
	.m-col-full {
		@extend .m-col-12;
		width: $page-width;	
	}
	//Push & Pull
	@for $i from 1 through $total-columns {
	  .m-push-#{$i} {
	    left: ($page-width / $total-columns) * $i;
	  }
	}
	@for $i from 1 through $total-columns {
	  .m-pull-#{$i} {
	    left: (-$page-width / $total-columns) * $i;
	  }
	}
	.m-no-push, 
	.m-no-pull { 
		left: auto; 
	}
	.m-gutters {
	  padding-left: $margin-size;
	  padding-right: $margin-size;
	}
	.m-gutter-left {
	  padding-left: $margin-size;
	}
	.m-gutter-right {
	  padding-right: $margin-size;
	}
	.m-half-gutters {
		padding-left: $half-margin-size;
	  padding-right: $half-margin-size;
	}
	.m-half-gutter-left {
		padding-left: $half-margin-size;
	}
	.m-half-gutter-right {
	  padding-right: $half-margin-size;
	}
}
//	
//	Responsive nav
//	-------------------- 
//
@mixin off-canvas-nav-style() {
	#logo {
		float: left;
		margin-left: $margin-size;
		svg#trileuco-logo {
			width: $logo-small-width;
			height: $menu-small-height;
		}
	}
	nav.nav {
		position: absolute;
		width: 70%;
    right: -70%;
	}
	ul.menu-list {
		li {
			float: none;
			width: 100%;
			padding: $margin-size;
			text-align: center;
			a {
				padding: 0;
				color: $countertype-text-color;
			}
		}
	}
	ul.menu-list li#trileuco-symbol {
		margin-top: $margin-size;
		svg#symbol{
			width: 30px;
		}
	}
  #menu-button {
  	@include relative-right;
    display: block;
  	right: $margin-size;
  	margin-top: 30px;
  }
  .openNav #page {
    right: 0;
    @include transform(translate3d(-70%, 0, 0));
    @include transition(transform, 500ms, ease);
  }
  #page {
    right: 0;
    @include transform(translate3d(0, 0, 0));
    @include transition(transform, 500ms, ease);
  }
}
.list ul li {
	list-style-type: square;
	list-style-position: inside;
	@include relative-left;
	width: 100%;
	clear: both;
	ul {
		@include relative-left;
		width: 100%;
		margin-bottom: $margin-size;
		padding-left: $double-margin-size;
	}
}
//	
//	Separators
//	-------------------- 
//

//	
//	Others
//	-------------------- 
//
p.notice {
	color: green;
}
p.alert {
	color: red;
}


