//	
//	TYPOGRAPHY
//	#################################################################################################### 
//

//	
//	Mixins 
//	-------------------- 
//
	@mixin gigantic-text-style() {
	}
	@mixin huge-text-style() {
	}
	@mixin large-text-style() {
	}
	@mixin bigger-text-style() {
	}
	@mixin big-text-style() {
	}
	@mixin normal-text-style($color:$text-color) {
		@include font-size(16);
		@include line-height(28);
		font-weight: 400;
		color: $color;
	}
	@mixin small-text-style() {
	}
	@mixin button-text-style() {
		@include font-size(16);
		@include italic;
	}
	@mixin a-style() {
	}
//	
//	Classes 
//	-------------------- 
//

//	
//	Defaults 
//	-------------------- 
//
	h1 {
		@include font-size(24);
		@include line-height(32);
		@include bold; 
		@include relative-left;
		width: 100%;
		margin-bottom: $margin-size;
		padding-bottom: $margin-size;
		border-bottom: 1px solid $border-color;
	}
	h2 {
		@include font-size(20);
	}
	h3 {}
	h4 {}
	p {
		@include relative-left;
		width: 100%;
		margin-bottom: $margin-size;
	}
	a {}