//	
//	GENERAL VARIABLES 
//	#################################################################################################### 
//
//	
//	Layout
//	-------------------- 
//
	$page-width: 100%;

	$margin-size: 20px;
	$half-margin-size: $margin-size / 2;
	$quarter-margin-size: $half-margin-size / 2;
	$margin-size-3-4: 15px;
	$double-margin-size: $margin-size * 2;
	$triple-margin-size: $margin-size * 3;
	$row-section-margin: $margin-size * 4;

	$total-columns: 12;

  $mobile-container: 100%;
  $tablet-container: 720px;
  $desktop-container: 1200px;

  $mobile-breakpoint: $tablet-container + ($margin-size - 1px);
  $tablet-breakpoint: $tablet-container + $margin-size;
  $desktop-breakpoint: $desktop-container;

  //z-index 
  $layer-1: 3;
  $layer-2: 2;
  $layer-3: 1;
//
//	Sizes
//	-------------------- 
//
	$logo-large-width: 200px;
	$logo-small-width: 160px;
	$menu-large-height: 140px;
	$menu-small-height: 80px;
	$front-image-height: 720px;
	$menu-button-size : 30px; 
//	
//	Color 
//	-------------------- 
//
	$lighter-color: white;
	
	$text-color: #444;
	$countertype-text-color: #FFF;

	$highlight-color: #0099ff;
	$border-color: #eee;
	
	$bg-lighter-color: white;
	$bg-lighter-grey-color: ghostwhite;
	$bg-dark-color: #333;

	$link-color: $highlight-color;
//
//	Icons 
//	-------------------- 
//

//
//	Images 
//	-------------------- 
//

//
//	Others 
//	-------------------- 
//
$menu-button-transition: .3s;
$percent-variant: 25%;