/*
//	RESET 
//	####################################################################################################
*/
	* {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}
	a {
		text-decoration: none;
	}
	a:active,
	a:hover {
		outline: 0;
	}
	article, 
	aside, 
	details, 
	figcaption, 
	figure, 
	footer, 
	header, 
	hgroup, 
	menu, 
	nav, 
	section {
		display: block;
	}
	ol, 
	ul {
		list-style: none;
	}
	blockquote, 
	q {
		quotes: none;
	}
	blockquote:before, 
	blockquote:after,
	q:before, 
	q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	a[href], 
	input[type='submit'], 
	input[type='image'], 
	label[for], 
	select, 
	button {
    cursor: pointer;
	}
	input,
	textarea {
		outline: 0;
	}