@import 'reset.css';
@import 'smartweb-framework';
@import 'variables';
@import 'typography';
@import 'structures';
@import 'forms_and_buttons';
@import 'vendor_custom';
// 
//	Selection colours 
//	-------------------- 
//
	::selection {background: rgb(255,255,158);}
	::-moz-selection {background: rgb(255,255,158);}
	img::selection {background: transparent;}
	img::-moz-selection {background: transparent;}
	body {-webkit-tap-highlight-color: rgb(255,255,158);}
//	
//	GENERAL & BUG FIXES
//	####################################################################################################
//	
	// Tim Pietrusky advanced checkbox hack (Android <= 4.1.2)
	body{ -webkit-animation: bugfix infinite 1s; }
	@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }
//	
//	MAIN STYLES
//	####################################################################################################
//
body {
	font-family: 'Open Sans', sans-serif;
	@include normal-text-style($text-color);
	-webkit-font-smoothing: antialiased;
	background-color: $bg-lighter-color;
	overflow-x: hidden;
}
div.menu {
	@include relative-left;
	width: 100%;
	margin-bottom: $margin-size;
	padding-bottom: $margin-size;
	border-bottom: 1px solid $border-color;
	ul li {
		display: inline-block;
		vertical-align: middle;
		margin-right: $margin-size;
		&:last-child {
			margin-right: 0;
		}
	}
}
div.page {
	padding-top: $double-margin-size;
}
div.course-data {
	@include relative-left;
	width: 100%;
	clear: both;
}
div.course {
	@include relative-left;
	width: 100%;
	margin-bottom: $double-margin-size;
	padding-bottom: $double-margin-size;
	border-bottom: 1px solid $border-color;
}
p {
	@include relative-left;
	width: 100%;
	clear: both;
	margin-bottom: $margin-size;
}
#streaming {
	@include relative-left;
	width: 50%;
	height: 500px;
	background-color: #bbb;
	iframe {
		@include relative-left;
	}
}
#slides {
	@include relative-right;
	width: 50%;
	height: 500px;
	background-color: #aaa;
}
.avatar {
	background-color: grey;
	@include square-box(200px);
}

//	
//	SPECIFIC MEDIAQUERIES
//	####################################################################################################
//
@media only screen and (min-width: $desktop-breakpoint) {
	
}//
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
	
}//
@media only screen and (max-width: $mobile-breakpoint) {
	
}//