<!DOCTYPE html>
<html>
<head>
  <title>Smartweb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="page">
	<div class="bounded-content">
		<div class="menu">
			<ul>
				<li>
					<%= form_tag courses_path, method: :get do %>
			  	<%= text_field_tag :filter %>
			  	<%= submit_tag 'Buscar' %>
					<% end %>
				</li>
				<li><%= link_to 'Asistir a cursos', courses_path %></li>
				<li><%= link_to 'Mis cursos', manage_courses_path %></li>
				<li>
					<% if current_user %>
				  	<%= link_to 'Solicitar un curso', new_course_demand_path, rel:'modal:open'  %>
					<% else %>
				  	<%= link_to 'Solicitar un curso', new_course_demand_path  %>
					<% end %>
				</li>
				<li><%= link_to 'Mis solicitudes', course_demands_path %></li>
				<li><%= link_to 'Mis recomendaciones', recomendations_path %></li>
		    <li><% if current_user %>
		    <%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => :delete if current_user %>
		    <%= link_to 'Perfil', profile_path %>
		    <% end %>
		    </li>
			</ul>
		</div>
		<%= yield %>
	</div>
</div>

</body>
</html>
