<div class="row">
	<h1>My Profile</h1>
	<p><%= @user.name %></p>
	<p><%= @user.email %></p>
	<p><%= image_tag @user.avatar, class:'avatar' %></p>
	<p><%= link_to "Editar", edit_registration_path(current_user) %></p>
</div>

<div class="row"> 
	<p><%= link_to 'My courses', manage_courses_path %></p>

	<div class="course">
		<% @students.each do |student| %>
		  <% course = student.course %>
		  <%= course.name %>
		  <%= course.minutes %>
		  <%= link_to 'Ver', course_path(course) %>
		<% end %>
	</div>
</div>

<div class="row">
	<p><%= link_to 'My open demands', manage_course_demands_path %></p>
	<div class="course">
		<% current_user.course_demands.open.each do |course_demand| %>
		  <p><span class="bold"><%= course_demand.name %></span></p>
		  <p><%= course_demand.description %></p>
		  <p><%= link_to 'Ver', course_path(course_demand) %></p>
		<% end %>
	</div>
</div>


